ion-col {
    background-color: #128cf7;
    border: solid 1px rgb(0, 0, 0);
    color: rgb(2, 2, 2);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    height: auto;
  }
  
.ion-col-card {
    background-color: #ffee00;  
    color: rgb(2, 2, 2);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
  }

 
  /*.cor1 {
    background-color: rgb(0, 175, 244);
    font-weight: normal;
    /* Cor da linha par, ajuste conforme necessário 
    color: rgb(255, 255, 255);
    /* Cor do texto na linha par, ajuste conforme necessário 
  }*/

  .cor2 {
    background-color: #f9fcfba4;
    /* Cor da linha ímpar, ajuste conforme necessário */
    font-weight: normal;
    font-size: small;
    color: rgb(0, 0, 0);
    /* Cor do texto na linha ímpar, ajuste conforme necessário*/ 
  }
  
  .cor1 {
    background-color: #f9fcfba4;
    /* Cor da linha ímpar, ajuste conforme necessário */
    font-weight: normal;
    font-size: small;
    color: rgb(0, 0, 0);
    /* Cor do texto na linha ímpar, ajuste conforme necessário*/ 
  }
  
  
  .ion-footer-fixed {
    position: sticky;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px;
    border-color: black;
    width: auto;
  }
  
  .right-aligned-toolbar {
    justify-content: flex-end; 
  }


  .label-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-weight: 100;
  }
  
  .round-button {
    border-radius: 50%;
    border-width: 2px;
    border-color: white;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    font-size: 8px; /* Adjust font size as needed */
    background-color: #128cf7; /* White text color */
    
  }
  .bottom-label {
    margin-top: auto; /* Align the label to the bottom */
    font-family: 'Arial', sans-serif; /* Example font family */
    font-size: 16px; /* Example font size */
    font-weight: bold; /* Example font weight */
    color: #333; /* Example text color */
  }
  .default-alert{
    --background: #f2f4f6!important;   
    --color:#070404!important;
    --border-radius:10px!important;
   }

  .custom-icon-action {
    font-size: 20px;
    margin-right: 8px;
    margin-left: 8px;
    cursor: pointer;
  }

  .rowSelect {
    border: 1px solid #ccc;
   /* padding: 10px;*/
    cursor: pointer;
  }
  .rowSelected {
    background-color: #128cf7;
    --color:#ffffff!important;
  }